APP_NAME=TimeFlow
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

# AWS Configuration
APPSYNC_ENDPOINT=https://your-api-id.appsync-api.ap-southeast-1.amazonaws.com/graphql
COGNITO_USER_POOL_ID=ap-southeast-1_yourPoolId
COGNITO_CLIENT_ID=your-cognito-client-id
AWS_REGION=ap-southeast-1

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=120

CACHE_STORE=file
QUEUE_CONNECTION=sync
